---
autotoc: true
description: The Blender Foundation, open source 3D creation suite.
priority: 0.7
subtitle: The Blender Foundation.
tags: Blender 3D
title: Blender 3D
---

> Just __demo content__ of a collection with an index and two note pages _'textures.md.hbs'_ and _'tips-and-tricks.md.hbs'_.  
Why Blender, because I love working with this software as a hobby.

> It has a table of contents (TOC), activated by page __frontmatter__ meta-tag `autotoc: true`.  

> If you decide to __delete__ or __rename__ this folder _'./src/html/blender-3d'_. 
You need also the update the _'collections'_ configuration in `./build.js` 

> As you can see below, the demo provides two images. 
You can click on these to enlarge. This is not basic __Markdown__ behaviour, 
but an Metalsmith enhancement on working with __Handlebars__ template engine.  



## Blender 

Blender is a free and open source 3D creation suite.
It supports the entirety of the 3D pipeline—modeling, rigging, animation, simulation, rendering,
compositing and motion tracking, even video editing and game creation.  

__Usefull links__:  

* [Blender Foundation](https://www.blender.org/)

__Examples__:  

> To enlarge, click image.

![It's me Bender]({{ rootPath }}image/itsmebender-lite.png ?class=js__zoom,w=405,h=303 "Features teams")
![Smoke beef]({{ rootPath }}image/mad-cow-smoked-beef.png ?class=js__zoom,w=405,h=303 "Features teams")  
