---
autotoc: true
description: The home index for my personal notes.
subtitle: A concept for storing notes.
priority: 1.0
title: Home of Notes
---

__This website is a collection of notes.__  
It is build using a static website generator, called [Metalsmith](software/metalsmith.html).  
Where content (web pages) are stored and managed, using the __[Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)__, mark-up standard.  

This project is already filed with some collections 'notes', 'software', 'projects' and 'blender-3d'.
Just to have some content and configuration examples.  
You need some knowlegde of Metalsmith when you add, change or delete collections.
Working with note pages (content) is simple and based on _Markdown_.



## How to work?

1. Activate a texteditor and locate project content folder `./src/html/`.
2. Notes are grouped in folders and handled by _Metalsmith_ as __collections__.
3. Select folder and a __note file__.
4. Start editing a note and save.
5. To see your changes immediately in your browser. Start first a __localhost__ server, 
by entering the command `npm start` in a terminal.



## Markdown enhancement

This _markup_ code will create an image of a certain size, with class _'js__zoom'_. To activate click-on zoom effect.

```html
![Features teams]({{ rootPath }}image/Features-and-Components_F02_WP.png ?class=js__zoom,w=405,h=303 "Features teams")
```

> Now follows the 'tag-cloud', as specified in _./src/template/page.hbs_.  
> When clicked it uses __template__ `tagged.hbs` to show an over view of notes, tagged with this label.  


## Project log

Notes and comments on the progress of this project.

### th. April 4, 2019 - Prepare My notes project for public.

Clean up notes for publication on GitLab. 
