---
autotoc: true
description: JavaScript ES5 / ES6
subtitle: JavaScript ES5 / ES6
priority: 0.95
tags: Nodejs, JavaScript
title: JavaScript
---



Hyperlink to local document "[Operator precedence in JavaScript]({{ rootPath }}documents/operatorprecedenceinjavascript.pdf)".  

__Relevant__:  

* Douglas Crockford [The better parts (JS)](https://www.youtube.com/watch?v=vJKDh4UEXhw&feature=youtu.be),  
good arguments to follow certain paths in JS.  
* [crockford.com](http://crockford.com/javascript/#variable%20declarations)
* [Crockford's basic boilerplate for a constructor is](http://whatsroyupto.blogspot.nl/2015/05/class-free-object-oriented-programming.html)
* [JavaScript Decorators: What They Are and When to Use Them](https://www.sitepoint.com/javascript-decorators-what-they-are/)



## Applications (Apps)

* [Electron](https://electronjs.org/), Build cross platform desktop apps with JavaScript, HTML, and CSS 



## TypeScript

[module-resolution](http://www.typescriptlang.org/docs/handbook/module-resolution.html)  

you can run the compiler with --traceResolution to see how it traverses your project



## ES6

* [ES6 functions available in browser](kangax.github.io/compat-table/es6/)
* [Using JavaScript ES6 import/export modules in Chrome Extensions](https://medium.com/@martinnovk_22870/using-javascript-es6-import-export-modules-in-chrome-extensions-f63a3a0d2736)


## ES7

* [3 Features of ES7 (and Beyond) That You Should Be Using, Now](https://derickbailey.com/2017/06/06/3-features-of-es7-and-beyond-that-you-should-be-using-now/)



### Labels to exit (jump out) loops

```javascript
labela:
    for (let a = 0; a < 5; a += 1>) {
        if (a > 3) {
            break labela;
        }
    }
```



## Code snippits

### Constructor

* [Crockford's basic boilerplate for a constructor is](http://whatsroyupto.blogspot.nl/2015/05/class-free-object-oriented-programming.html)

```javascript
function constructor(spec) {
	let {member} = spec,
		{other}  = other_constructor(spec),
		method   = function () {
			// accesses member, other, method, spec
		};

	return Object.freeze({
		method,
		other,
	});
}
```
