/* GUI 
 * Primary color: rgba(127,182,189,) #9c27b0
 * Secundair rgb(255, 171, 64) #ffab40
 */

/* RESET Local */
$commentTextColor: rgba(0, 0, 0, 0.6);
$primaryColor: rgba(153, 204, 51, 1);
$secundaryColor: rgba(0, 114, 0, 1);
$secundaryColor40: rgba(0, 114, 0, 0.4);
$textColor: rgba(5, 3, 3, 0.9);
$white60: rgba(255, 255, 255, 0.6);

html, body {
    height: 100%;
}

/* MEDIA MOBILE (start with mobile then build up)
 */

a, a:hover {
    color: $secundaryColor;
}

article {
    img {
        &.js__zoom {
            cursor: pointer;
            height: auto;
            max-width: 200px;
        }
    }
}

blockquote { /* <code> EXAMPLES */
    border-left: solid 0.3em #CCC;
    color: #555;
    font-size: 86%;
    font-style: italic;
    padding: 0.4em 0.8em 0.4em 1.7em;

    p {
        margin-bottom: 0;
    }
}

body {
    background: $primaryColor;

    .main-nav {
        background-color: #240118;
        width: 0;
    }
}

footer {
    position: relative;
    background: $primaryColor; /* Old browsers */
    margin-top: 2.5em;

    > a {
        bottom: 0.1em;
        left: 1em;
        position: absolute;
    }

    .section-row {
        padding-bottom: 1em;
        padding-top: 1em;
    }
   
}

h2, h3, h4 {
    margin-top: 2.0em;
    color: $secundaryColor;
}
h3, h4 {
    margin-top: 1.8em;
}
h4 {
    margin-top: 1.4em;

    &.other-articles {
        border-bottom: 1px solid $secundaryColor40;
        margin-top: 3em;

        span {
            font-style: italic;
            text-transform: capitalize;

            &:before {
                content: '"';
            }

            &:after {
                content: '"';
            }
        }
    }
}

header { /* https://css-tricks.com/basics-css-blend-modes/ */
    background-color: $primaryColor;
    border-bottom: $primaryColor 3px solid;
    height: 75px;
    margin-bottom: 1.7em;
    position: relative;
    padding-bottom: 0.2em;
    text-align: center;

    a {
        float: left;
    }

    h1 {
        color: #fff;
        font-weight: normal;
        margin: 0 0 -1em 0;
    }

    h2 {
        color: #fefefe;
        display: inline-block;
        font-size: 0.9em;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: auto;
    }
}

/* INDEX PAGE - has no article summary */
main {
    article {
        > p {
            &:first-child {
                margin-top: 3em;
            }
        }
    }

    /* ARTICLE */
    &.subpages {
        article {
            > p {
                &.article-info {
                    color: $commentTextColor;
                    font-size: 0.7em;
                    margin-bottom: 0.2em;
                    margin-top: -2.3em;
                    text-align: right;
                }
                + p {
                    margin-top: 1.6em;
                }
            }
        }
    }
}

p {
    > code {
        font-size: 80%;
        padding: 0.4em 0;
        white-space: pre;
    }
}

pre { /* <code> EXAMPLES */
    background-color: #eee;
    color: $textColor;
    font-size: 86%;
    margin-left: 2em;
    padding: 0.4em 0.8em;
}

table {
    thead {
        th {
            border-bottom: $primaryColor thin solid;
        }
    }

    th,
    td {
        padding-right: 1em;
    }
}

.ahref--visited {
    a:visited {
        color: $textColor;
    }
}

.article-tags {
    label {
        font-style: italic;
    }
    li {
        display: inline;
        list-style-type: none;

        + li::before {
            content: ", ",
        }
    }
    ul {
        display: inline;
        padding-left: 0;
    }
}

.clearfix {
    &:after { 
        content: "."; 
        visibility: hidden; 
        display: block; 
        height: 0; 
        clear: both;
    }
}

.device {
    bottom: 0.3em;
    position: absolute;
    right: 1em;

    svg {
        fill: $white60;
    }
}

.disclaimer {
    color: $white60;
    font-size: 0.8em;
    margin-bottom: 0;
    text-align: center;
}

/* https://www.w3schools.com/howto/howto_js_off-canvas.asp */
.has-side-navigation {
    .main-nav {
        width: 220px;
    }
}

.homingbeacon {
    background-color: rgba(127,182,189,1);
    border-top-left-radius: 1.4em;
    border-top-right-radius: 1.4em;
    border: 4px #fff solid;
    bottom: -4px;
    box-shadow: 0 0 7px $secundaryColor40;
    cursor: pointer;
    filter: alpha(opacity=0);
    height: 3em;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 1em;
    transition: opacity 0.5s ease-in-out;
    width: 3em; /* 0 width - change this with JavaScript */
    z-index: 997; /* Stay on top */

    span {
        color: #fff;
        display: block;
        font-size: 0.75em;
        margin: -0.8em auto 0 auto;
        text-align: center;
        text-transform: uppercase;
        width: 2.5em;
    }

    svg {
        display: block;
        font-size: 1.4em;
        margin: -0.3em auto 0 auto;
    }
}
.homingbeacon-active {
    display: block;
    filter: alpha(opacity=100);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.icon {
    height: 1.6em;
    margin: 0.3em;
    width: 1.6em;
    fill: #fefefe;

    &.tablet,
    &.laptop {
        display: none;
    }
}

.logo {
    position: absolute;
    top: -61px;
    left: 1em;
    height: 8em;
    width: 8em;
}

/* The navigation menu links */
.main-nav {
    background-color: #111; /* Black*/
    height: 100%; /* 100% Full-height */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    position: fixed; /* Stay in place */
    top: 0;
    transition: 0.5s; /* 0.5 second transition effect to slide in the main-nav */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 999; /* Stay on top */

    a {
        color: #f1f1f1;
        display: block;
        font-size: 1.2em;
        padding: 0.2em 0.5em 0.2em 1.2em;
        text-decoration: none;
        transition: 0.3s;
        white-space: nowrap;
    }
    
    ul {
        padding-left: 0;
    }

    /* Position and style the close button (top right corner) */
    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
    }
    .icon {
        fill: #f1f1f1;
        width: 1em;
    }
}

.menu-btn {
    left: 0.5em;
    position: absolute;
    top: 0.3em;
}

.nav {
    &.page {
        border-top: 1px solid $secundaryColor40;
        border-bottom: 1px solid $secundaryColor40;
        padding: 0.3em 1em;
        margin-top: 2.2em;

        li {
            list-style-type: none;
            display: inline-block;

            &:last-child  {
                float: right;
            }
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;
            width: 100%;
        }
    }
    
    &.sub {
        a {
            &:hover {
                text-decoration: none;
            }
        }

        ul {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-gap: 20px;
            -moz-column-gap: 20px;
            column-gap: 20px;
        }

        li {
            color: $secundaryColor;
        }
    }
}

.section-row {
    h1 {
        color: $secundaryColor;
        border-bottom: solid thin $primaryColor;
    }
}

.tag-cloud {
    padding-left: 0;

    li {
        display: inline-block;
        list-style-type: none;

        + li {
            &::before {
                content: ", ";
            }
        }
        span {
            font-size: 70%;
            vertical-align: top;
        }
    }
}

/* Table Of Contents */
.toc {
    background-color: #f1f1f1;
    border: thin #CCC solid;
    border-radius: 0.3em;
    float: right;
    margin: 1em 0 1.5em 2em;
    padding: 0.3em 0.6em 0.5em;
    width: 16em;

    ul {
        font-size: 80%;
        margin-bottom: 0;
        padding-left: 0;

        &.last-item--marked { 
            > li:last-child {
                border-top: 1px $secundaryColor40 dashed;
                margin-top: 0.5em;
                padding-top: 0.2em;
            }   
        }

        li {
            list-style: none;
        }
        ul {
            margin-left: 2em;
        }        
    }
}






.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.page {
    background-color: #fcfcfc;
}

ul {
    &.pagelist {
        padding-left: 2em;

        a {
            color: $textColor;

            &:hover {
                text-decoration: none;
            }
        }

        h3 {
            color: $secundaryColor;
            display: inline;
            margin: 0;
        }

        li {
            list-style-type: none;
            line-height: initial;

            &:hover {
                background-color: $primaryColor;
            }
        }

        .article-date {
            color: $commentTextColor;
            float: right;
            font-size: 80%;
            margin-bottom: 0;
            margin-top: 0.5em;
        }
        .article-desc {
            font-style: italic;
        }
        .article-header {
            padding: 0.2em 0.4em 0.3em 0.4em;
        }
    }
}

.section-row {
    margin: 0 2em 0 1em;
}



/* ------------------------------------------------------------------------------
 * START MEDIA QUERIES
 */

@media screen and (min-width: 768px) { /* BASIC TABLET (iPad 768 x 1024) */
    article {
        img {
            width: 360px;
        }
    }

    header {
        background-blend-mode: multiply;
        background-repeat: repeat-x;
        background-image: url('/image/bg.jpg');

        h1 {
            text-shadow: 0 0 4px black; 
            font-weight: 900;
        }
        
        h2 {
            border-radius: 0.5em;
            padding: 0.05em 1.4em 0em 1.4em;
        }
    }

    .main-nav {
        box-shadow: 0 5px 10px rgba(153,204,51,0.25);
    }

    .page- header h2,
    .page- header {
        background-color: rgba(0,141,0,0.5);
    }
    .page-blender header h2,
    .page-blender header {
        background-color: rgba(222,11,12,0.5);
    }
    .page-notes header h2,
    .page-notes header {
        background-color: rgba(55,11,144,0.5);
    }
    .page-projects header h2,
    .page-projects header {
        background-color: rgba(105,225,194,0.5);
    }
    .page-software header h2,
    .page-software header {
        background-color: rgba(255,224,18,0.5);
    }
    
    /* Change device ICON to Tablet */
    .icon {
        &.mobile,
        &.laptop {
            display: none;
        }
        &.tablet {
            display: block;
        }
    }

} /* END TABLET */

/* ------------------------------------------------------------------------------
 * PC
 */

@media screen and (min-width: 1024px) { /* BASIC PC */
    article {
        img {
            width: 540px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    body {
        .main-nav {
            background-color: transparent;
            width: 100%;
        }
    }

    header {
        margin-bottom: 6em;
    }

    /* Change device ICON to Laptop, PC */
    .icon {
        &.mobile,
        &.tablet {
            display: none;
        }
        &.laptop {
            display: block;
        }
    }
   
    /* The navigation menu links */
    .main-nav {
        height: auto;
        position: absolute;
        padding-top: 75px;
        transition: none;
        z-index: 999; /* Stay on top */

        a {
            color: #222;
            display: block;
            font-size: 1em;
            padding: 0em 0.5em 0.3em 0.5em;
            text-decoration: none;
            transition: none;
            white-space: nowrap;

            &.active {
                background-color: $primaryColor;
                color: #fff;

                &:hover{
                    background-color: rgba(33,33,33,1);
                    color: #ddd;
                }
            }
            &:hover {
                background-color: $primaryColor;
                color: #fff;
            }
        }
    }
    
    #menuBTN {
        display: none;
    }

    .main-nav {
        ul {
            border-bottom: $primaryColor 1px solid;
            padding-left: 0;
            padding-top: 0.3em;
            margin-bottom: 0;
            text-align: center;
        }

        li {
            display: inline-block;
        }

        .close-btn {
            display: none;
        }
    }

    .section-row {
        margin-left: auto;
        margin-right: auto;
        width: 58em;
    }

}  /* END PC */
