<!DOCTYPE html>
<html class="template-article">
<head>
{{> meta }}
</head>
<body>
{{> homebeacon }}
<div id="overlay" class="overlay" hidden></div>
{{> navmain }}

<div id="page-wrapper" class="page page-{{ mainCollection }}">
	{{> header }}
	<main{{#if navsub}} class="subpages"{{/if}}>
		<div class="section-row">
			<h1>{{ title }}</h1>
			<article>

				{{#if isPage}}
					<!-- Is an INDEX page -->
				{{else}}
					<!-- Is an ARTICLE page -->
					<p class="article-info">Published {{ dateFormat }}, {{ wordCount }} words, {{ readingTime }}-minute read</p>
				{{/if}}

				{{{ contents }}}
				
				{{#if isPage}}
					<!-- Acts as an INDEX page. Show list of related pages -->
					{{> pagelist }}
				{{else}}
					{{> pagination }}
				{{/if}}
			</article>

			{{> tag-cloud }}
			{{#if isPage}}
			{{else}}
				{{> navsub }}
			{{/if}}
			</div>
		{{> footer template='article' }}
	</main>
</div>
{{> js }}
</body>
</html>
