<!DOCTYPE html>
<html class="template-page">
<head>
{{> meta }}
</head>
<body>
{{> homebeacon }}
<div id="overlay" class="overlay" hidden></div>
{{> navmain }}

<div id="page-wrapper" class="page page-{{ mainCollection }}">
	{{> header }}

	<main{{#if navsub}} class="subpages"{{/if}}>
		<div class="section-row">
			<h1>{{ title }}</h1>
			{{> toc}}
			<article>
				{{{ contents }}}
				{{> tags-article }}
			</article>
			{{> tag-cloud }}
			{{> navsub }}
		</div>
	</main>
	{{> footer template='page' }}
</div>
{{> js }}
</body>
</html>
