<!DOCTYPE html>
<html class="template-tag">
<head>
{{> meta }}
</head>
<body>
{{> homebeacon }}
<div id="overlay" class="overlay" hidden></div>
{{> navmain }}

<div id="page-wrapper" class="page page-{{ mainCollection }}">
	{{> header }}

	<main{{#if navsub}} class="subpages"{{/if}}>
		<div class="section-row">
			<h2>Notes tagged with '{{tag}}'</h2>
			<ul class="ahref--visited">
			{{#each pagination.files}}
				<li><a href="{{ rootPath }}{{ path }}">{{title}}</a> <small>- {{dateFormat}}</small></li>
			{{/each}}
			</ul>
			{{#if pagination.previous}}
				<a href="{{pagination.previous.path}}">Previous</a>
			{{/if}}
			{{#if pagination.next}}
				<a href="{{pagination.next.path}}">Next</a>
			{{/if}}

			{{> tag-cloud }}
		</div>
	</main>
	{{> footer template='page' }}
</div>
{{> js }}
</body>
</html>
