<footer>
	<a href="javascript:history.go(-1);"><svg class="icon mobile"><use xlink:href="{{ rootPath }}image/iconset.svg#arrow-left" /></svg></a>
	<div class="section-row"><p class="disclaimer">&copy; Copyright</p></div>
	<div class="device">
		<svg class="icon mobile"><use xlink:href="{{ rootPath }}image/iconset.svg#mobile" /></svg>
		<svg class="icon tablet"><use xlink:href="{{ rootPath }}image/iconset.svg#tablet" /></svg>
		<svg class="icon laptop"><use xlink:href="{{ rootPath }}image/iconset.svg#laptop" /></svg>
	</div>
</footer>
