<header id="mainHeader">
	<svg class="icon logo">
		<use xlink:href="{{ rootPath }}image/iconset.svg#logo" />
	</svg>
	<div>
		<a id="menuBTN" href="javascript:void(0)" class="menu-btn">
			<svg class="icon">
				<use xlink:href="{{ rootPath }}image/iconset.svg#menu" />
			</svg>
		</a>
		{{#if isTopic}}
			<h1>{{ tag }}</h1>
			<h2>Notes tagged with '{{ tag }}'</h2>
		{{else}}
			<h1>{{ title }}</h1>
			<h2>{{ subtitle }}</h2>
		{{/if}}
	</div>
</header>
