<meta charset="utf-8">

{{#if isTopic}}
<title>{{#if title}}{{ title }} {{/if}}subject {{ tag }}</title>
{{else}}
<title>{{#if title}}{{ title }} - {{/if}}{{ name }}</title>
{{/if}}

{{#if description}}<meta name="description" content="{{ description }}" />{{/if}}
<meta name="author" content="{{ author }}">

<meta name="viewport" content="width=device-width,shrink-to-fit=no,user-scalable=no,initial-scale=1,minimum-scale=1,minimal-ui">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ rootPath }}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ rootPath }}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ rootPath }}favicon-16x16.png">
<link rel="shortcut icon" href="{{ rootPath }}favicon.ico">
<link rel="manifest" href="{{ rootPath }}site.webmanifest">
<link rel="mask-icon" href="{{ rootPath }}safari-pinned-tab.svg" color="#5bbad5">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" media="all" href="{{ rootPath }}css/bootstrap-reboot.min.css" />
<link rel="stylesheet" media="all" href="{{ rootPath }}css/style.css" />
<link rel="stylesheet" media="all" href="{{ rootPath }}css/googlecode.css" />
