<!-- main navigation -->
<nav id="mainNav" class="main-nav">
	<a id="closeBTN" href="javascript:void(0)" class="close-btn">
		<svg class="icon"><use xlink:href="{{ rootPath }}image/iconset.svg#close" /></svg>
	</a>
	<ul>
	{{#each navmain}}
		<li>
			<a href="{{ path }}" title="{{ description }}" {{#if active}} class="active"{{/if}}>{{ title }}</a>
		</li>
	{{/each}}
	</ul>          
</nav>
