{{#if navsub}}
	<!-- sub navigation, pages in the same section -->
	<h4 id="hdr-overview" class="other-articles">In collection <span>{{ mainCollection }}</span></h4>

	<nav class="nav sub">
		<ul>
		{{#each navsub}}
			<li>
			{{#if active}}
				<strong>{{title}}</strong>
			{{else}}
				<a href="{{path}}">{{title}}</a>
			{{/if}}
			</li>
		{{/each}}
		</ul>
	</nav>
{{/if}}
