<!-- Generates a list of page subjects -->
{{#if navsub}}
	<ul class="pagelist">
	{{#each navsub}}
		<li><a href="{{ path }}" title="{{ title }}">
				<div class="article-header">
					<h3>{{ title }}</h3>
					<span class="article-desc"> - {{ description }}</span>
					<span class="article-date">{{ dateFormat }}</span>
				</div>
			</a>
		</li>
	{{/each}}
	</ul>
{{/if}}
