<nav class="nav page clearfix">
	<ul>

	{{#if previous.title }}
		<li class="back"><a href="{{ rootPath }}{{ previous.path }}">&laquo; back: {{ previous.title }}</a></li>
	{{/if}}

	{{#if next.title }}
		<li class="next"><a href="{{ rootPath }}{{ next.path }}">next: {{ next.title }} &raquo;</a></li>
	{{/if}}

	</ul>
</nav>
