<h3>Label Cloud</h3>
<ul class="tag-cloud ahref--visited">
{{#each cloud}}
    <li>
        <a href="{{ ../rootPath }}{{this.path}}">
            {{this.name}} <span>({{this.weight}})</span>
        </a>
    </li>
{{/each}}
</ul>
