<!-- Article tagged with -->
{{#if tags}}
<div class="article-tags">
    <label>Tags:</label>
    <ul class="ahref--visited">
	{{#each tags}}
		<li>
			<a href="{{ ../rootPath }}topics/{{toLowerCase this.name}}.html">{{this.name}}</a>
		</li>
	{{/each}}
	</ul>          
</div>
{{/if}}
