<!-- Table Of Contents -->
{{#if autotoc}}
<div id="toc" class="toc">
    <strong>Index</strong>
	<ul class="last-item--marked">
	{{#each toc}}
		<li>
			<a href="#{{id}}" title="{{text}}">{{text}}</a>
			{{#if children.length}}
			<ul>
			{{#each children}}
				<li>
					<a href="#{{id}}" title="{{text}}">{{text}}</a>
				</li>
			{{/each}}
			</ul>
			{{/if}}
		</li>
	{{/each}}
	{{#if mainCollection }}
		{{#if navsub }}
			<li>
				<a href="#hdr-overview" title="Overzicht">Collection '{{ mainCollection }}'</a>
			</li>
		{{/if}}
	{{/if}}
	</ul>          
</div>
{{/if}}
